* text=auto
*.sh text eol=lf
Dockerfile text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.vue text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.sql text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
